*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
app/app-release.apk
app/app-debug.apk
.idea
app/src/main/res/drawable/emoji_picker_background.9.png.bak

# Additional Gradle files
.gradle/
build/
**/build/